*{
    box-sizing: border-box;
}

html,body{
    background-image: url("../images/cleo-tse-FG2MDE9WXO8-unsplash.jpg");
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#wins, #lose, #guessesLeft,#letters{
    background-color: cornflowerblue;
}

h1{
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}